*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.content-navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
}
.content-navigation .links{
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 4px;
}
.links a{
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: chartreuse;
    margin: 0px 6px;
    transition:0.4s all;
}
.links a:hover{
    color: rgb(201, 79, 35);
}
@media (min-width:360px){
    .links a{
        display: none;
    }
    .links button{
        display:flex;
    }
}
@media (min-width:652px){
    .links a{
        display: inline;
    }
    .links button{
        display: none;
    }
}
@media (min-width:996px){
    .links a{
        display: inline;
    }
    .links button{
        display: none;
    }
}
.links button{
    z-index: 12;
}