.App{
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: grid;
  grid-template-rows:40vh 60vh ;
}
.header{
  background-color: brown;
  display: grid;
  grid-template-rows: 20% 80%;
}
